* {
    margin: 0;
    padding: 0;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #fff;
    --bule-color: #003d79;
    --red-color: red;
    --primaky-color: #72cdf4;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.7%;
}

.grid {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.grid_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.grid_row-wrap{
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
}
.grid-column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}
.grid-column-2-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 17.6%;
}
.grid-column-2-5 {
    padding-left: 12px;
    padding-right: 12px;
    width: 240px;
}
.grid-column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;
}

.display-flex {
    display: flex;
    justify-content: space-between;
}

.pseudo-class::before {
    content: "";
    width: 1px;
    height: 19px;
    background-color: var(--white-color);
    position: absolute;
    top: 0;
    left: 44%;
}
